%h1
  Welcome
  -if logged_in?
    = current_user.name
%ul
  - @terms.each do |term|
    %li
      = link_to "#{term.name}", term_path(term.id)

= link_to "Terms", terms_path
= link_to "Categories", categories_path
